@page "/projects/"

<PageTitle>Portfolio Projects</PageTitle>

<div>
    <h1>Projects</h1>

    <button type="button" class="btn btn-secondary" @onclick="() => ProjectIndex?.Open()">Project Index</button>

    <ProjectIndex Index="@Index?.Projects" @ref="ProjectIndex" />


    @if (Loading)
    {
        @*return*@
        <h2>Featured</h2>
    }
    else
    {
      if (Featured is not null && Featured.Any())
        {
            @foreach (Project project in Featured)
            {
                <div class="card m-2 border-0">
                    <div class="card-header border-0 rounded small text-secondary fst-italic">
                        Featured
                    </div>
                    <div class="card-body d-flex align-items-stretch">
                        <div class="w-50">
                            <img src="/img/default.jpg" class="img-fluid rounded " alt=@project.ProjectName />

                        </div>
                        <div class="w-50 ms-5 text-center">
                            <div class="h-100 d-flex flex-column justify-content-end">
                                <div class="flex-grow-1">
                                    <h5 class="h2 my-3">@project.ProjectName</h5>
                                    <p class="card-text">@project.ShortDescription</p>
                                </div>
                                <div class="align-self-end">
                                    <a href="@($"projects/{project.Uid}")" class="btn btn-sm btn-success">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        if (Tags is not null && Tags.Any())
        {
            @foreach (Tag tag in Tags)
            {
                <button type="button" class="m-2 btn btn-sm btn-success">
                    @tag.TagName <span class="badge text-bg-secondary">@tag.Projects.Count</span>
                </button>
            }
        }

    }
</div>
